<div class="board">
    {{#each block in board.blocks}}
        <div class="block">
            {{#each cell in block.cells}}
                {{view 'cell' cell=cell}}
            {{/each}}
        </div>
    {{/each}}

</div>

{{outlet}}
